page-login {
  .link {
    text-align: center;
    margin-top: 120px;
  }
  .logo {
    text-align: center;
    margin-bottom: 61px;
  }
  .title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
