page-signup {
  .title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    h3 {
      margin-top: 15px !important;
    }
  }
  .link {
    text-align: center;
    position: fixed;
    bottom: 20px;
    width: 100%;
  }
}
