.cart-list {
  &.list-ios .item-block .item-inner {
    border-bottom: none;
  }
  ion-item.item-block {
    padding: 0 0 0 10px;
    border: 1px solid #e7e7e7;
    margin-bottom: 5px;
    box-shadow: 2px 3px 6px 1px $color-auth-shadow;
    &.item-ios ion-icon[item-start] {
      margin-right: 5px;
      margin-bottom: auto;
    }
    .cart-item-name {
      margin-top: 0;
      font-size: 1.3rem;
      font-weight: 600;
      color: $color-transaction-item;
    }
    .cart-item-price {
      font-size: 1.4rem;
      font-weight: 700;
      color: black;
    }
    .cart-item-detail {
      margin-right: 0;
      ion-icon {
        margin-right: 0;
        display: inline-block;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
      }
      .cart-item-timeline {
        text-align: center;
        display: inline-block;
        width: 70px;
        .cart-item-date {
          font-size: 1.1rem;
          color: $color-transaction-header;
        }
        .cart-item-time {
          font-size: 1.1rem;
          color: $color-transaction-header;
        }
      }
    }
  }
  .cart-total {
    margin-top: 30px;
    text-align: center;
    p {
      color: $color-transaction-header;
      text-transform: uppercase;
      font-size: 1.8rem;
      span.price {
        color: $color-main-light-blue;
      }
    }
    button {
      width: 50%;
      height: 3.8rem;
    }
  }
}
