.checkout-form {
  .checkout-form-layout-list {
    ion-label {
      color: $color-transaction-item;
      font-size: 1.4rem;
      margin: 11px 8px 7px 0;
      font-weight: 600;
    }
    .select-text {
      font-family: 'MYRIADPROREGULAR';
      font-weight: 600;
    }
    .checkout-form-element {
      border: 1px solid #e7e7e7;
      box-shadow: 2px 2px 6px 1px $color-auth-shadow;
      color: $color-transaction-item;
      font-size: 1.4rem;
      margin: 11px 8px 7px 0;
    }
    .item-block {
      min-height: 3.4rem;
      height: 35px;
    }
    &.list-ios .item-block .item-inner {
      border-bottom: none;
    }
    .placeholder-icon {
      color: grey;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .checkout-overview {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 32px);
    padding: 10px 20px 0;
    color: $color-transaction-item;
    background-color: $color-checkout-overview-blue;
    p {
      margin: 5px 0;
    }
    .checkout-overview-btn {
      width: 100%;
      height: 3.8rem;
    }
  }
}
