.item ion-icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px auto;
  &[name="list-header-calendar"] {
    background-size: 16px 16px;
    background-image: url('../assets/images/icon_calendar.png');
  }
  &[name="list-item-airtime"] {
    background-image: url('../assets/images/icon_airtime.png');
  }
  &[name="list-item-cable"] {
    background-size: 18px auto;
    background-image: url('../assets/images/icon_cable.png');
  }
  &[name="list-item-power"] {
    background-image: url('../assets/images/icon_power.png');
  }
  &[name="payment-debit"] {
    background-size: 29px auto;
    background-image: url('../assets/images/icon_payment_debit.png');
  }
  &[name="payment-paypal"] {
    background-size: 29px auto;
    background-image: url('../assets/images/icon_payment_paypal.png');
  }
  &[name="payment-plus"] {
    background-size: 29px auto;
    background-image: url('../assets/images/icon_payment_plus.png');
  }
  &[name="settings-user"] {
    background-size: 29px auto;
    background-image: url('../assets/images/icon_user.png');
  }
  &[name="settings-email"] {
    background-size: 19px auto;
    background-image: url('../assets/images/icon_mail.png');
  }
  &[name="settings-phone"] {
    background-size: 19px auto;
    background-image: url('../assets/images/icon_phone.png');
  }
  &[name="settings-key"] {
    background-size: 19px auto;
    background-image: url('../assets/images/icon_key.png');
  }
}
