.settings-list {
  margin-top: 100px;
  .setting-item {
    padding-left: 8px;
    border: 1px solid #e7e7e7;
    box-shadow: 2px 3px 6px 1px $color-auth-shadow;
    border-bottom: 1px solid #d1d1d1;
    height: 5.4rem;
    ion-icon {
      width: 29px;
      margin-bottom: auto;
    }
    h2 {
      font-size: 1.4rem;
      color: $color-grey;
      margin-top: 0;
      font-weight: 600;
    }
    h3 {
      font-size: 1.1rem;
      color: $color-transaction-header;
    }
    .item-inner {
      border-bottom: none;
    }
    &.no-inner-content .item-inner {
      background-image: none;
    }
  }
  &.list-ios > .item-block:first-child {
    border-top: none;
  }
}
