.transactions-list {
  &.list-ios .item-block .item-inner {
    border-bottom: none;
  }
  .list-header-ios {
    &, p[item-end] {
      text-transform: uppercase;
      padding-left: 0;
      color: $color-transaction-header;
      font-size: 1.2rem;
      border-bottom: none;
      font-weight: 700;
      span.price {
        color: $color-main-light-blue;
      }
    }
    &.item > ion-icon {
      margin-right: 0;
    }
  }
  ion-item.item-block {
    padding: 5px 0 5px 17px;
    border: 1px solid #e7e7e7;
    margin-bottom: 5px;
    box-shadow: 2px 3px 6px 1px $color-auth-shadow;
    ion-label {
      color: $color-transaction-item;
      font-weight: 700;
      font-size: 1.6rem;
    }
    span.price {
      color: black;
      font-weight: 700;
    }
  }
}
